{% extends "nav_with_pagination.html" %}

{% block table %}

<div class="col-lg-12">
    <div class="col-lg-12 color-black">
        No sales from <span class="personal-blue-color f-bold">{{ fifteen_days_ago }}</span> to <span class="personal-blue-color f-bold">{{ today }}</span>
    </div>
    <div class="table-responsive user-form">
        <table class="table table-bordered table-hover table-sm mt-3 mb-3">
            <thead>
                <tr>
                    <th scope="col">Bar code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if (products_without_sales | length) > 0 %}
                    {% for product in products_without_sales %}
                        <tr style="height: 10px;">
                            <td class="row_bar_code">{{product.bar_code }}</td>
                            <td class="row_description">{{ product.description }}</td>
                            <td class="row_stock">{{ product.stock }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr style="height: 10px;">
                    <td colspan="3" class="text-center">No records!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="message small-size"></div>    
    </div>
</div>

{% endblock %}