<div class="row p-1">
    <div class="col-lg-12 mt-1 mb-3">
        <input class="form-control form-control-sm" id="cash_value" type="number" placeholder="Insert if cash value if client pay in cash">
    </div>
    <div class="col-lg-12">
        <button class="btn btn-sm btn-success w-100 mt-2 mb-2" id="cash">Cash</button>
    </div>
    <div class="col-lg-12">
        <button class="btn btn-sm btn-success w-100 mt-2 mb-2" id="atm">Bank card</button>
    </div>
    <div class="personal-blue-color">TOTAL: <span class="sucess-message">{{ purchase_total | currency }}</span></div>
</div>
