<div class="col-lg-12 mt-3" id="vertical-nav-content-title">
    <h4 class="personal-blue-color">Confirm register products</h4>
</div>
</div>
<div class="col-lg-12 mt-2 mb-2">
    <span class="color-black f-bold small-size">Maximum 100 products.</span>
</div>
<div id="register_list">
    {% if (all_products_from_temp_register_list | length > 0) %}
    <div class="col-lg-12 border-bottom p-1 vertical-nav-content-body-title mb-4 mt-3">
        <span class="title">Number of products:</span> <span class="personal-blue-color result">{{ all_products_from_temp_register_list | length }}  </span>
    </div>
    <div class="table-responsive user-form">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Bar code</th>
                    <th scope="col">Unity m.</th>
                    <th scope="col">Category</th>
                    <th scope="col">Sub category</th>
                    <th scope="col">Cost price(€)</th>
                    <th scope="col">Sell price(€)</th>
                    <th scope="col">Margin percentage(%)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                    {% for product in all_products_from_temp_register_list %}
                    <tr style="height: 10px;">
                        <td class="row_description">{{ product.description }}</td>
                        <td class="row_bar_code">{{ product.bar_code }}</td>
                        <td class="row_unity_m">{{ product.unity_m }}</td>
                        <td class="row_category">{{ categories[ product.category | int  - 1001].category }}</td>
                        <td class="row_sub_category">{{ categories[ product.category | int  - 1001].sub_categories[ (product.sub_category | int) - 1 - product.category | int * 10].sub_category }}</td>
                        <td class="row_cost_price error-message">{{ product.cost_price | currency }}</td>
                        <td class="row_sell_price sucess-message">{{ product.sell_price | currency }}</td>  
                        <td class="row_sell_margin_percentage {{ product.margin_tier }}">{{ product.margin_percentage | percentage }}</td>
                        <td class="row_button justify-center">
                            <button class="remove_product_from_register_list btn-sm btn personal-button" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </button></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
        <div class="message small-size"></div>    
    </div>
    {% else %}
    <div class="col-lg-12 text-center p-4 h-100 mt-3 mb-3" style="border-style:dashed; height: 223px!important;">
        <div class="mt-5">
            <h3 class="mb-3 vertical-nav-content-body-title title">Empty!</h3>
            <h7>Register products and update your database.</h5>
        </div>
    <div>
    {% endif %}

    <div class="row mt-3 {% if (all_products_from_temp_register_list | length == 0) %} display-none {% endif %}">
        <div class="col-lg-12 mt-1 mb-1">
            <button type="button" id="confirm_remove_all_products_from_register_list" value="confirm_remove_all_products_from_register_list" class="btn btn-sm btn-success w-100">
                Remove all  
            </button>
        </div>
        <div class="col-lg-12 mt-1 mb-1">
            <button type="button" id="confirm_register_products" value="confirm_register_products" class="btn btn-sm btn-success w-100">
                Register products 
            </button>
        </div>
    </div>
</div>