<div class="col-lg-12 mb-3 mt-3" id="vertical-nav-content-title">
    <h4 class="personal-blue-color">My products and services</h4>
</div>
<div class="col-lg-12" id="vertical-nav-content-description">
    <h10>Search and consult products and services information.</h10>
</div>
<div class="col-lg-12 mt-3 mb-3 p-3 user-form">
    <form class="personal-form" id="search_products_and_services">
        {{ form.hidden_tag() }}
        <div class="col-lg-12 mt-3 mb-3">
            {{ form.description_bar_code_filter.label(class="form-label")}}
            {{ form.description_bar_code_filter(class="form-control form-control-sm border rounded-0 h-25") }}
            
            {{ form.type_filter.label(class="form-label mt-3")}}
            <select name="{{ form.type_filter.name }}" id="{{ form.type_filter.name }}" class="form-select form-select-sm">
                <option disabled selected>Search for</option>
                {% for value, description in form.type_filter.choices %}
                    <option value="{{ value }}">{{ description }}</option>
                {% endfor %}
            </select>

            <div class="display-none" id="select_category">
                {{ form.category_filter.label(class="form-label mt-3")}}
                <select name="{{ form.category_filter.name }}" id="{{ form.category_filter.name }}" class="form-select form-select-sm">
                    <option disabled selected>Select category</option>
                    {% for value, description in form.category_filter.choices %}
                        <option value="{{ value }}">{{ description }}</option>
                    {% endfor %}
                </select>
            </div>
       
            <div class="display-none mt-2 mb-2" id="select_sub_categories">
                {% for sub_category in form.sub_category_filter %}
                    {{ sub_category.hidden_tag() }}
                    {{ sub_category() }}
                    {{ sub_category.label }}
                {% endfor %}     
            </div>      
            
            <div class="mb-2">
                {{ form.order_by_filter.label(class="form-label mt-3")}}
                {{ form.order_by_filter(class="form-select form-select-sm") }}
            </div>
            
                   
        </div>

        <div class="col-lg-12 in-line p-1">
            {% for filter in form.asc_desc_filter %}
                {% if filter.data == 'asc'%}
                    <div class="form-check">
                        {{ filter(class="form-check-input", checked=true) }}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                            <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"/>
                          </svg>
                    </div>
                {% else %}
                    <div class="form-check">
                        {{ filter(class="form-check-input") }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                          </svg>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="mb-1 mt-2 mb-2 small-size message"></div>
        <div class="col-lg-12 mt-3 mb-3">
            {{ form.submit_search_all(class="btn btn-sm btn-success w-100") }}
        </div>
    </form>
</div>

    
<div class="table-responsive" id="search_results_content"></div>       





    
    
