{% extends "nav_with_pagination.html" %}
{% block table %}
<div class="mt-2 mb-2">
    <span class="display-none"></span>
    <span class="color-black">Inventory number: </span><span class="f-bold personal-blue-color" id="inventory_number">{{ inventory_number }}</span>
    <span class="color black">Products: </span><span class="f-bold personal-blue-color">{{ products | length }}</span>
</div>
<div class="user-form">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Bar Code</th>
                <th scope="col">Description</th>
                <th scope="col">Cost price({{ current_user.user_currency | currency_filter }})</th>
                <th scope="col">Counts</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for product in products %}
            <tr class="inventory_product" id="{{ product.id }}">                
                <td class="row_internal_code">{{ product.bar_code }}</td>
                <td class="row_description">{{ product.description }}</td>
                <td class="row_description"><span class="sucess-message f-bold">{{ product.cost_price | currency }}</span></td>
                <td class="row_counts"><input class="form-control form-control-sm border" type="number" name="count_input" id="{{ product.id }}" placeholder="Insert count"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-2 mb-2 message small-size"></div>
    <button class="btn btn-sm btn-success rounded-0 w-100" id="submit_counts" type="submit" role="button">Submit counts</button>
</div>
{% endblock %}