{% extends "nav_with_pagination.html" %}
{% block table %}
<div class="mt-2 mb-2">
    <span class="display-none"></span>
    <span class="color-black">Inventory number: </span><span class="f-bold personal-blue-color">{{ inventory_number }}</span>
    <span class="color black">Products: </span><span class="f-bold personal-blue-color">{{ products | length }}</span>
</div>
<div class="user-form">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Bar Code</th>
                <th scope="col">Description</th>
                <th scope="col">Last count</th>
                <th scope="col">Recount</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for product in products %}
            <tr class="inventory_product" id="{{ product.id }}">                
                <td class="row_internal_code">{{ product.bar_code }}</td>
                <td class="row_description">{{ product.description }}</td>
                <td class="row_last_count">{{ product.stock_counted }}</td>
                <td class="row_recount"><input class="form-control form-control-sm border" name="count_input" type="number" placeholder="Insert recount"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-2 mb-2 message small-size"></div>
    <button class="btn btn-sm btn-success rounded-0 w-100" id="submit_recounts" type="submit" role="button">Submit recounts</button>
</div>
{% endblock %}