<div class="col-lg-12 p-2">
    <div class="col-lg-12 p-1">
        <form id="authenticate_password_form">
            {{ form.hidden_tag() }}
            <div class="mb-2">
                {{ form.password.label(class="form-label personal-blue-color") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <span class="small-size error-message mt-1 mb-1">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary mt-3 mb-3 w-100", id="confirm") }}
        </form>
    </div>
</div>